@media screen and (max-width: 1200px) {
    #dekstop-nav{
        display: none;
    }
    #kolagen-nav {
        display: flex;
    }
}

@media  screen and (max-width: 1200px) {
    .section_pic-container {
        flex-wrap: wrap;
    }}